$color-base: #ffecc7;
$color-today: #ffa071;
$color-evento-agregado: #717eff;

$color-border-1: rgba(0, 0, 0, 0.700);
$color-border-2: rgba(73, 46, 28, 0.5);
$color-border-3: rgba(0, 0, 0, 0.850);
$color-button:#ff8c00;
$color-button-hover:#ff6016;

$color-button-negativo:#e43b36;
$color-button-negativo-hover:hsl(2, 100%, 85%);

$background-corcho: url(./../img/fondo-corcho.jpg);